<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <title> Wallet</title>
</head>

<body>
  <div class="container">
    <header>
      <h2> Create Wallet</h2>
    </header>
    <section class="content">
      <nav>
        <img class="logo" src="images/ether_logo.png">
      </nav>
      <main class="mainPage">
        <div class="context">
          <div class="item" id="text">userID</div>
          <div class="item"><input class="input_text" type="text" size="40" id="userID"></div>
          <div class="item" id="text">Password</div>
          <div class="item"><input class="input_text" type="password" size="44" id="password" style="font-family:''"></div>
          <div class="item" id="text">Password 확인</div>
          <div class="item"><input class="input_text" type="password" size="44" id="password2" style="font-family:''"></div>
          <div class="div5"><input type="submit" value="Create" id="getResult"></button></div>
        </div>
      </main>
    </section>
    
    <footer>
        <button type="button" id="btn2">뒤로가기</button>
    </footer>

    <script>
      $('#getResult').click(function () {
        console.log($('#userID').val())
        console.log($('#password').val())

        $.ajax({
          url: 'http://175.125.21.32:3001/create',
          dataType: 'json',
          type: 'POST',
          data: {
            'id': $('#userID').val(),
            'password': $('#password').val(),
            'password2': $('#password2').val(),
          },
          success: function (result, body, {status}) {
          
            const statusMsg = {
                "200": () => alert('중복된 아이디가 존재합니다.'),
                "201": () => {alert('회원 가입되었습니다'), window.location.href = `http://175.125.21.32:3001/`},
                "202": () => alert('비밀번호를 확인해주세요.')
              }
              let msg = statusMsg[`${status}`]

              if (msg) msg()
            
          }
        });
      })

    
      $('#btn2').click(function(){
        window.location.href = "http://175.125.21.32:3001/"
      })
    </script>

  </div>
</body>

</html>