<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">

  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <title> Wallet</title>
</head>

<body>
  <div class="container">
    <header>
      <h2>개인키 내보내기</h2>
    </header>

    <section class="content">
      <nav>
        <img class="logo" src="/images/ether_logo.png">
      </nav>
      <main class="mainPage">
        <div class="context">
          <div class="item dis" id="text">userID</div>
          <div class="item dis"><input class="input_text" type="text" id="userID"></div>
          <div class="item dis" id="text">Password</div>
          <div class="item dis"><input class="input_text" type="password" id="password"
              style="font-family:''"></div>
          <div class="div5 dis"><input type="submit" value="Submit" id="getResult"></button></div>
          <div class="hide" id="text">PriavateKey</div>
          <div class="hide show"></div>
          <div class="hide"><button id='copy'>Copy</button></div>
        </div>
      </main>
    </section>

    <footer>
      <button type="button" id="btn2">뒤로가기</button>
    </footer>
    <script>
      $('#copy').click(function () {
        let privateKey = $('.show').text()
        copyToClipboard(privateKey)
      })

      $(document).ready(() => {
        $('#getResult').click(function () {
          $.ajax({
            url: '/privatekey/export',
            dataType: 'json',
            type: 'POST',
            data: {
              'id': $('#userID').val(),
              'password': $('#password').val(),
            },
            success: function (result, body, { status }) {
              if (status === 200) {
                alert("아이디 및 비밀번호를 다시 확인해주세요.")
              } else if (status === 202) {
                $('.hide').removeClass('hide');
                $('.dis').addClass('hide');
                $('.show').html(result.private_key);
              }

            },
            error: function (request, status, error) {
              alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
          });
        })
      })

      $('#btn2').click(function () {
        window.location.href = "/main"
      })

      function copyToClipboard(val) {
        var t = document.createElement("textarea");
        document.body.appendChild(t);
        t.value = val;
        t.select();
        document.execCommand('copy');
        document.body.removeChild(t);
      }

    </script>

  </div>
</body>

</html>